table {
    font-family: "roboto", 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 6px;
  }
  
  table tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  table tr:hover {
    background-color: #ff0;
  }
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #eeeded;
    color: #900;
  }